#header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heroImage-box, #header-content, #heroImage-content, #subheader-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    margin: 5px;
}

#pythagoras-image {
    width: 340px;
    height: auto;
}